<p id="notice"><%= notice %></p>


<article>
  <h3>
    Expenses
  </h3>
  
  <div class="row mb-4">
  <div class="card">
    <div class="row ">
      <div class="col-6">Total:</div>
      <div class="col-6">Amout</div>
    </div>
  </div>
    
  </div>
  <ul class="list-unstyled"> 
    <%= render partial: 'expenses/card'%>
  </ul>
</article>

<br>

<%= link_to 'New Expense', new_expense_path, class: "btn btn-success" %>
